Tautulli:
  Connection:
    URL: ""
    APIKey: ""
  Customization:
    ServerName: "Plex"
    TerminateMessage: "Your stream has been terminated. Please contact the admin in the Discord."
    # How often (seconds) the bot pulls new data. 5-second minimum built-in, it's for your own good
    RefreshSeconds: 15
    # Can only kill streams if you have a Plex Pass, so this controls whether you're given the option
    PlexPass: true
    ServerTimeZone: "UTC"
    Use24HourTime: false
    AnonymousUsers: false
    
    VoiceChannels:
      Stats:
        CategoryName: "Tautulli Stats"
        StreamCount: false
        TranscodeCount: false
        Bandwidth: false
        LocalBandwidth: false
        RemoteBandwidth: false
        PlexStatus: false
      Libraries:
        CategoryName: "Tautulli Libraries"
        Enable: false
        LibraryRefreshSeconds: 3600
        LibraryNames:
          # List of names of the libraries you'd like stats about. Voice channels will be made/updated with stats (refreshed every hour)
          - Movies
          - TV Shows
          - Music
        # Which stats to show for each type of library
        TVSeriesCount: true
        TVEpisodeCount: true
        MusicArtistCount: true
        MusicTrackCount: true
      Performance:
        CategoryName: "Performance"
    Anonymize:
      HideUsernames: false
      HidePlayerNames: false
      HidePlatforms: false
      HideQuality: false
      HideBandwidth: false
      HideTranscode: false
      HideProgress: false
      HideETA: false

Discord:
  Connection:
    BotToken: ""
    # Right-click on your server's icon -> "Copy ID"
    ServerID: 472537215457689601
    # Right-click on your profile picture -> "Copy ID"
    AdminIDs:
      - 00000000000
    # Where the live stats will be posted
    ChannelName: "tautulli"
  Customization:
    Nitro: true

Extras:
  # See README.md for details
  Analytics: true
  Performance:
    CPU: true
    Memory: true
