Tautulli:
  URL: "http://127.0.0.1:8181"
  APIKey: "thisismyapikey"
  UseSelfSignedCert: false
  RefreshSeconds: 15 # How often (seconds) the bot pulls new data. 5-second minimum built-in, it's for your own good
  TerminateMessage: "Your stream has been terminated. Please contact the admin in the Discord."
Discord:
  BotToken: "thisismydiscordbottoken"
  ServerID: '000000000001' # Right-click on your server's icon -> "Copy ID"
  AdminIDs:
    - '00000000000000000001' # Right-click on your profile picture -> "Copy ID"
  PostSummaryMessage: true # Whether to post a live stats summary message
  ChannelName: "tautulli" # Where the live stats summary message will be posted
  EnableSlashCommands: true
Display:
  Anonymize:
    HideBandwidth: false
    HideETA: false
    HidePlatforms: false
    HidePlayerNames: false
    HideProgress: false
    HideQuality: false
    HideTranscode: false
    HideUsernames: false
  ServerName: ''
  ThousandsSeparator: ''
  Time:
    ServerTimeZone: America/Denver
    Use24HourTime: false
  UseFriendlyNames: true  # Use Plex users' names instead of usernames
Extras:
  AllowAnalytics: true  # See README.md for details
  EnableUpdateReminders: true  # Enable reminders to update Tauticord
Stats:
  Activity: # Stats about the Plex server's activity
    CategoryName: "Plex Stats"
    Enable: true
    StatTypes:
      Bandwidth:
        CustomEmoji: ''
        Enable: false
        VoiceChannelID: 0
      LocalBandwidth:
        CustomEmoji: ''
        Enable: false
        VoiceChannelID: 0
      PlexServerAvailability:
        CustomEmoji: ''
        Enable: true
        VoiceChannelID: 0
      RemoteBandwidth:
        CustomEmoji: ''
        Enable: false
        VoiceChannelID: 0
      StreamCount:
        CustomEmoji: ''
        Enable: false
        VoiceChannelID: 0
      TranscodeCount:
        CustomEmoji: ''
        Enable: false
        VoiceChannelID: 0
  Libraries: # Stats about the Plex server's libraries
    Enable: true
    CategoryName: "Plex Libraries"
    RefreshSeconds: 3600
    Libraries:
      # Each key is the name of a library in Plex, as seen by Tautulli
      "Audiobooks":
        AlternateName: "My Audiobooks" # Optional: A friendlier name for the library to use in Discord
        # How to display stats for each type of media in this library
        # Only relevant stats will be included based on library type (e.g. a TV Show library will ignore Album settings)
        Albums:
          CustomEmoji: ''  # Override the default emoji for this metric
          Enable: true  # Whether to display this metric for this library
          VoiceChannelID: 0  # Use a specific voice channel for this library's stats, rather than generating a new one
        Artists:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Movies:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Series:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Tracks:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
      "Movies (4K)":
        AlternateName: "My 4K Movies"
        Albums:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Artists:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Movies:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Series:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Tracks:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
      "TV Shows (Non-English)":
        AlternateName: "My Non-English TV Shows"
        Albums:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Artists:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Movies:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Series:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Tracks:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
    CombinedLibraries:
      "All Movies":
        Libraries: # Which Plex libraries to combine into this aggregate library
          - Movies
          - Movies (Non-English)
          - Movies (4K)
        # How to display stats for each type of media in this library
        # Only relevant stats will be included based on library type (e.g. a TV Show library will ignore Album settings)
        Albums:
          CustomEmoji: ''
          Enable: true  # Whether to display this metric for this library
          VoiceChannelID: 0
        Artists:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Movies:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Series:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
        Tracks:
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: 0
  Performance: # Stats about the Tauticord host's performance
    CategoryName: "Performance"
    Enable: true
    Metrics:
      CPU:
        CustomEmoji: ''
        Enable: true
        VoiceChannelID: 0
      DiskSpace:
        CustomEmoji: ''
        Enable: true
        VoiceChannelID: 0
      Memory:
        CustomEmoji: ''
        Enable: true
        VoiceChannelID: 0
      UserCount:
        CustomEmoji: ''
        Enable: true
        VoiceChannelID: 0
